body{
    background-color: blue;
}


form{

background-color: yellowgreen;
font-family: Arial, Helvetica, sans-serif;
font-size:20px;
padding : 20px ;
margin-left:300px;
margin-right: 300px;
margin-top:100px;
margin-bottom:0px; 
align:center;

}


input[type=text] , input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
}

input[type=button] ,input[type=reset]{
    background-color: pink;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid red;
    width: 100%;
}
